<form role="form" ng-submit="addItem()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Enter name" ng-model="item.name">
  </div>
  <div class="form-group">
    <label>Value</label>
    <input type="text" class="form-control" placeholder="Enter value" ng-model="item.val">
  </div>
  <button type="submit" class="btn btn-default">Add</button>
</form>
<br />
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Time</th>
      <th>Title 2</th>
      <th>Title 3</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in items">
      <td>{{$index + 1}}</td>
      <td>{{item.addTime}}</td>
      <td>{{item.name}}</td>
      <td>{{item.val}}</td>
    </tr>
  </tbody>
</table>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
