<form role="form" ng-submit="addItem()">
  <div class="form-group">
    <label>Name</label>
    <input name="name" type="text" class="form-control" placeholder="Enter sentiment value" ng-model="item.sentiment">
  </div>
  <button type="submit" class="btn btn-default">Add</button>
</form>
<br />
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Time</th>
      <th>Sentiment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="items" ng-repeat="item in items | reverse">
      <td>{{items.length - $index}}</td>
      <td>{{item.addTime.slice(0,10) + ' ' + item.addTime.slice(11,19)}}</td>
      <td>{{item.sentiment}}</td>
      <td>
        <button type="button" class="close" aria-hidden="true" 
          ng-click="removeItem(item);" ng-if="item.removable">&times;
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="footer text-center">
  <p>♥ ♥ ♥ ♥ ♥</p>
</div>
